/* general styling */
:root {
    --dark-gray: #424242;
    --gray: #5f5f5f;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    color: white;
    text-wrap: wrap;
    padding: 60px;
    position: absolute;
}

h2 {
    font-size: 30px;
    padding: 0 30px;
}

img {
    width: 75%;
}

/* light mode / dark mode */
.light {
    color: black;
    background-color: white;
    border-color: black;
}

.light article {
    border: 1px solid black;
}

.dark {
    color: #8d8d8d;
    background-color: var(--dark-gray);
    border-color: var(--gray);
}

/* header */

header p {
    padding: 0 20px;
}

header p:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    h1 {
        font-size: 45px;
    }
}